<div class="container" style="margin-top:100px">
<div class="row"> 

<form ng-submit="processStep1()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="username" required>
  </div>
  <button type="submit" class="btn btn-default" id="pubBtn" ng-click="pubBtnClicked()">Enter as Publisher </button>
  <button type="submit" class="btn btn-default" id="subBtn" ng-click="subBtnClicked()">Enter as Subscriber </button>

</form>

</div>
</div>


